<div class="row">
  <span class="text-center"><p>{{welcomeUser}}</p></span><br><br>
  <span class="text-center"><p>Vous êtes sur la page depuis {{secondes}} secondes </p></span>
</div>
<section class="todoapp">
  <header class="header container-fluid">
    <div class="row">
      <div class="col-sm">
        <h1>{{label}}</h1>
        <form (submit)="appendItem(newTodoInput.value); newTodoInput.value = ''">
          <input  #newTodoInput
                  name        = "newTodoInput"
                  class       = "new-todo"
                  placeholder = "Que faire?"
                  autofocus />
        </form>
      </div>
    </div>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            [ngModel] = "isAllDone()"
            (ngModelChange) = "toggleAllDone()"
    />
    <ul class="todo-list">
      <li *ngFor="let item of items"
          [class.completed]="item.isDone"
          [class.editing]="itemCompo.editionMode">
        <app-todo-item #itemCompo [data]="item"></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer container-fluid" *ngIf="!needToAppear()">
    <span class="todo-count"><strong></strong> {{itemsRestant}} tâches restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll" (click)="ownFilter = 'Tous'">Tous</a>
      </li>
      <li>
        <a class="filterActives" (click)="ownFilter ='Actifs'">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" (click)="ownFilter ='Completes'">Complétés</a>
      </li>
    </ul>
    <button class="clear-completed" *ngIf="!needToAppearCaseCochees()" (click)="removeAllItemChecked()">Supprimer cochées</button>
  </footer>
</section>
<hr/>
<div class="row">
  <a routerLink="/users" >La liste des utilisateurs >>> </a>
</div>
<div class="container-fluid">
  <button class="btn btn-dark btn-lg btn-group" (click)="onUndo()"><i class="fas fa-undo"></i></button>
  <button class="btn btn-secondary btn-lg btn-group" (click)="onRedo()"><i class="fas fa-redo"></i></button>
  <button class="btn btn-danger btn-lg btn-group" (click)="onRemoveAll()"><i class="fas fa-trash-alt"></i></button>
  <br>
  <button class="btn btn-danger btn-lg btn-group" (click)="deconnexion()">Déconnexion</button>
</div>




<!-- Version debug de la liste V1
<h2>Debug V1</h2>
<ul>
  <li *ngFor="let item of items">
    {{item | json}}
  </li>
</ul>

 Version debug de la liste V2, si on clique sur la checkbox, le json n'est pas modifié...
<h2>Debug V2</h2>
<ul>
  <li *ngFor="let item of items">
    <input type="checkbox" [ngModel]="item.isDone" />
    <label>{{item.label}}</label>
    <pre>{{item | json}}</pre>
  </li>
</ul>

<!-- Version debug de la liste V3, json OK
<h2>Debug V3</h2>
<ul>
  <li *ngFor="let item of items">
    <input type="checkbox" [ngModel]="item.isDone" (ngModelChange)="itemDone(item, $event)" />
    <label>{{item.label}}</label>
    <pre>{{item | json}}</pre>
  </li>
</ul>
 Version debug de la liste V4, edition du texte
<h2>Debug V4</h2>
<ul>
  <li *ngFor="let item of items">
    <input type="checkbox" [ngModel]="item.isDone" (ngModelChange)="itemDone(item, $event)" />
    <form (submit)="itemLabel(item, newLab.value)">
      <input type="text" name="label" [ngModel]="item.label" #newLab />
    </form>
    <pre>{{item | json}}</pre>
  </li>
</ul>

Version debug de la liste V5, suppression de l'item
<h2>Debug V5</h2>
<ul>
  <li *ngFor="let item of items">
    <input type="checkbox" [ngModel]="item.isDone" (ngModelChange)="itemDone(item, $event)" />
    <form (submit)="itemLabel(item, newLab.value)">
      <input type="text" name="label" [ngModel]="item.label" #newLab />
    </form>
    <button (click)="removeItem(item)">DELETE</button>
    <pre>{{item | json}}</pre>
  </li>
</ul>-->
