<br>
<h2 class="h2 text-center">Authentification</h2>
<hr>
<br>
<!-- reactive form de connexion -->
<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="authForm" (ngSubmit)="onSubmitForm()" autocomplete="off">
    <div class="form-group">
      <label for="email">Adresse Email</label>
      <input type="text" class="form-control" id="email" placeholder="Votre Email" formControlName="email"  [ngClass]="{ 'is-invalid': getControls().email.errors }">
      <div *ngIf="getControls().email.errors" class="invalid-feedback">
        <div *ngIf="getControls().email.errors.required">Email is required</div>
        <div *ngIf="getControls().email.errors.email">Email must be a valid email address</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">PassWord</label>
      <show-hide-password>
        <input type="password" class="form-control" id="password" formControlName="password"  placeholder="Votre password (6 caractère min)" [ngClass]="{ 'is-invalid': getControls().password.errors }">
      </show-hide-password>
      <div *ngIf="getControls().password.errors" class="invalid-feedback">
        <div *ngIf="getControls().password.errors.required">Password is required</div>
        <div *ngIf="getControls().password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>
    <button class="btn btn-success" *ngIf="!authStatus" type="submit" [disabled]="this.authForm.invalid">Se Connecter</button>
    <button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()">Se Déconnecter</button>
    <br><br>
    <a routerLink="/new-user">Pas encore de compte ? Créez un compte</a>
  </form>
</div>
