<!-- Voici la liste des utilisateurs enregistrer, elle se conserve grâce au localstorage des user
 dans le user service, tout les utilisateur de cette liste sont connectable (car c'est vous qui les avez créés.
 On se rend bien compte que dans une véritable application seul un administrateur devrait avoir accès à cette liste
 C'est un point d'amélioration à prendre en compte-->
<br>
<h3 class="h3 text-center">FAKE DATA : Liste des Utilisateurs</h3>
<hr>
<br>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users">
    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
    <p>{{ user.email }}</p>
    <p>Password : {{ user. password }}</p>
    <p>Confirmed Password : {{ user. confirmPassword }}</p>
  </li>
</ul>

<a routerLink="/todo">Retour Todo List Courante</a>
